/bin
/dist

/lib/swtmodel.jar
/lib/swtripper.jar

build.properties

*.log
/GUITAR-Default.STA

# Eclipse's .classpath contains developer-specific paths (e.g. to linked sources)
/.classpath

# EGit needs trailing newline
